data/
__pycache__/
*.pyc
results_full.log
paper/*.aux
paper/*.log
paper/*.out
paper/*.bbl
paper/*.blg
paper/*.toc
paper/*.fls
paper/*.fdb_latexmk
paper/*.synctex.gz
results_variants.log
results_tune.log
results_final.log
results_pwl.log
results_pwl_final.log
results_cost.log
